@using BusinessLayer
@inject SignInManager<User> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.YourEventsNavClass(ViewContext)" id="your-events" asp-page="./YourEvents">Your Events</a></li>
</ul>
<style>
    .active {
        background-color: #ff6b6b !important;
        transition: background-color 0.2s ease !important;
    }

        .active:hover {
            background-color: #ff4c4c !important;
        }
</style>