@model BusinessLayer.Event

@{
    ViewData["Title"] = "Create";
}

<h4>Create Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" placeholder="Name" class="form-control event-create" />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <textarea asp-for="Description" placeholder="Description" class="form-control event-create" style="height: 250px !important"></textarea>
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="EventStart" placeholder="Start of Event" class="form-control event-create" />
                <label asp-for="EventStart" class="form-label"></label>
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Location" placeholder="Location" class="form-control event-create" />
                <label asp-for="Location" class="form-label"></label>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="MaxAttendees" placeholder="Max Attendees" class="form-control event-create" />
                <label asp-for="MaxAttendees" class="form-label"></label>
                <span asp-validation-for="MaxAttendees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="submit-button w-25" style="color: black !important; height: 50px;">Create</button> 
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .event-create {
        height: 60px;
        width: 65%;
        min-width: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
    }

        .event-create::placeholder {
            font-size: 1.1rem !important;
        }

        .event-create + label {
            font-size: 1.1rem;
        }

    .create-submit{
        height: 40px;
        width: 80px;
        background-color: rgb(80, 80, 80);
        border: 0.5px solid #fff;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
    }

    .create-submit:hover{
        background-color: rgb(100, 100, 100) !important;
    }
</style>