@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="register-container">
    <form id="registerForm" asp-route-returlUrl="@Model.ReturnUrl" method="post">
        <h2 class="register-title">Register</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="register-input">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" aria-required="true" aria-autocomplete="none" placeholder="email@example.com" />
            <span asp-validation-for="Input.Email"></span>
        </div>

        <div class="register-input">
            <label asp-for="Input.Username">Username</label>
            <input asp-for="Input.Username" aria-required="true" aria-autocomplete="none" placeholder="Username" />
            <span asp-validation-for="Input.Username"></span>
        </div>

        <div class="register-input">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" aria-required="true" aria-autocomplete="none" placeholder="Password" />
            <span asp-validation-for="Input.Password"></span>
        </div>

        <div class="register-input">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" aria-required="true" aria-autocomplete="none" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>

        <div class="register-input">
            <button type="submit" class="register-button submit-button" value="Register" style="width: 100%;color: black !important;">Register</button>
            <p style="text-align:center;">Aleady have an acount? <a asp-area="Identity" asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl" class="link">Login here</a></p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .register-container {
        margin: 0 auto;
        max-width: 700px;
    }

    .register-title {
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
    }

    .register-container > form {
        padding: 50px 20px;
        box-shadow: 0px 0px 1px 0.2px white;
        border-radius: 15px;
    }

    .register-container hr {
        width: 80%;
        margin: 0 auto;
        min-width: 380px;
    }

    .register-input {
        width: 70%;
        height: 80px;
        margin: 20px auto;
        margin-bottom: 30px;
        vertical-align: central;
        min-width: 350px;
    }

    .register-input > input {
        height: 50px;
        width: 100%;
        border: 0.2px solid lightgrey;
        border-radius: 8px;
        padding: 10px 10px;
        transition: background-color 0.2s ease !important;
    }

    .register-input > label {
        color: var(--font-color-lighter) !important;
        font-size: 1.1rem;
    }

    .register-input span {
        margin-bottom: 5px;
        font-weight: 300 !important;
        display: block;
    }

</style>
